.about {
 padding: 10rem 7rem;
 display: flex;
 flex-direction: row-reverse;
 justify-content: center;
 align-items: center;

 &__desc {
  padding-right: 2rem;
  &--title {
   text-align: center;
   font-family: 'OrpheusW05-Regular';
   font-size: 2rem;
   font-weight: 500;
   margin: 1rem 0;
  }
  &--text {
   font-size: 1.1rem;
   margin: 1rem 0;
   line-height: 1.5rem;
  }
 }

 &__image {
  width: 100%;

  &--img {
   width: 100%;
  }
 }
}

@media screen and (max-width: 750px) {
 .about {
  padding: 5rem 3rem;
  flex-direction: column;

  &__desc {
   padding: 0;
  }
 }
}
