.about {
 padding: 10rem 7rem;
 display: flex;
 flex-direction: row-reverse;
 justify-content: center;
 align-items: center;

 &__desc {
  padding-right: 2rem;

  &--title {
   margin: 1rem 0;
   text-align: center;
   font-family: 'OrpheusW05-Regular';
   font-size: 2rem;
   font-weight: 700;
  }
  &--text {
   margin: 1rem 0;
   font-size: 1.1rem;
   font-weight: 700;
   line-height: 1.5rem;
   letter-spacing: 1px;
  }
 }

 &__image {
  width: 100%;

  &--img {
   width: 100%;
   box-shadow: 3px 4px 44px 6px rgba(0, 0, 0, 0.2);
   -webkit-box-shadow: 3px 4px 44px 6px rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 3px 4px 44px 6px rgba(0, 0, 0, 0.2);
  }
 }
}

@media screen and (max-width: 750px) {
 .about {
  padding: 5rem 3rem;
  flex-direction: column;

  &__desc {
   padding: 0;
  }
 }
}
