.landing__title {
 font-family: 'OrpheusW05-Regular';
 font-size: 4rem;
 font-weight: 300;
}

.img {
 width: 27rem;
}

.landing {
 display: flex;
 flex-direction: row;
 background-color: black;
 color: white;
}

.landing__text {
 font-size: 2rem;
}

.home__work {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.home__work--title {
 color: white;
 font-size: 2.5rem;
 width: 33%;
 text-align: center;
}
