.tabs {
    margin: 0 4rem;

    &__title {
        padding: 1rem 0 0;
        font-size: 36px;
        font-weight: 400;
        letter-spacing: 1px;
    }

    &__list {
        &--link {
            padding: 0.25rem 1rem;
            margin: 0.25rem;
            font-size: 14px;
            font-weight: bold;
            border: 1px solid #000;
            background-color: #fff;
            letter-spacing: 1px;

            &-active {
                font-weight: 700;
                background-color: #000;
                color: #fff;
            }

            &:hover {
                cursor: pointer;
            }
        }

        &--static,
        &--sticky {
            position: relative;
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            & ul {
                margin: 1rem 0;
                display: flex;
                flex-direction: row;
                list-style: none;
            }
        }

        &--sticky {
            position: sticky;
            top: 70px;
        }
    }
}

@media screen and (min-width: 389px) and (max-width: 689px) {
    .tabs {
        &__title {
            font-size: 1.75rem;
        }

        &__list {
            &--static {
                height: 8rem;

                & ul {
                    height: 100%;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-content: space-between;
                }
            }
            &--sticky {
                height: 8rem;

                & ul {
                    height: 100%;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-content: space-between;
                }
            }
        }
    }
}

@media screen and (max-width: 388px) {
    .tabs {
        &__list {
            &--static {
                height: 11rem;

                & ul {
                    height: 100%;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-content: space-between;
                }
            }
            &--sticky {
                height: 11rem;

                & ul {
                    height: 100%;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-content: space-between;
                }
            }
        }
    }
}
