#overview,
#research,
#synthesis,
#ideation,
#implementation {
 margin: 40rem 5rem;
 padding-top: 10rem;
 display: flex;
 justify-content: center;
 align-items: center;
}

#conclusion {
 margin: 40rem 5rem 100rem;
 padding-top: 10rem;
 display: flex;
 justify-content: center;
 align-items: center;
}
