.card__img {
 width: 12rem;
}

.card {
 width: 50%;
 display: flex;
 flex-direction: row;
 background-color: darkgray;
}
.card__left {
}
.card__right {
}
.card__project {
}
.card__project--desc {
}
.card__button {
}
.card__faq {
}
.card__faq--desc {
}
