.card {
 margin: 4rem 0;
 display: flex;
 flex-direction: row;
 background-color: black;

 &__reverse {
  flex-direction: row-reverse;
 }

 &__details {
  margin: 3rem;
  width: 350px;
 }

 &__button {
  background: transparent;
  color: white;
  border: 1px solid darkgray;
  padding: 1rem 2rem;
  margin: 1rem 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;

  &:hover {
   cursor: pointer;
   background: darkgray;
  }
 }

 &__img {
  height: 30rem;
  width: 40vw;
 }

 &__project {
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-size: 24px;
  line-height: 3rem;

  &--desc {
   color: white;
   font-size: 16px;
   font-weight: 300;
   line-height: 1.5rem;
  }
 }

 &__faq {
  display: flex;
  flex-direction: column;
  color: white;

  &--left,
  &--right {
   display: flex;
   flex-direction: column;
   width: 100%;
  }
  &--info {
   margin: 1rem 0 0.5rem;
   text-transform: capitalize;
   font-size: 16px;
   line-height: 1rem;
  }
  &--desc {
   font-size: 12px;
   line-height: 1.35rem;
  }
 }
}

hr {
 display: block;
 margin: 0;
 border-style: inset;
 border-width: 1px;
}

@media screen and (max-width: 750px) {
 .card {
  width: 85%;
  flex-direction: column;

  &__image {
   display: flex;
   justify-content: center;
   align-items: center;
  }

  &__button {
   width: 100%;
  }

  &__details {
   padding: 1rem;
   width: auto;
  }

  &__img {
   height: 20rem;
   width: 100%;
  }
 }
}
