.me {
 margin: 3rem;
 flex: 1;
 display: flex;
 justify-content: center;
 flex-direction: column;

 &__title {
  margin: 0 0 2rem;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
 }

 &__content {
  width: auto;
  margin-left: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;

  &--icon {
   width: 12%;
  }

  &--img {
   width: 50%;
  }

  &--full {
   width: auto;
   max-width: 1000px;
   margin: 1rem auto;
   display: flex;
   justify-content: space-evenly;
   align-items: center;

   &--quote {
    width: 100%;
    max-width: 700px;
    margin: 1rem 0 0;
    font-size: 20px;
    font-weight: 800;
    color: skyblue;
    letter-spacing: 1px;
    text-align: center;
    line-height: 1.6rem;
   }

   &--column {
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
   }

   &--desc {
    max-width: 300px;
    margin: 0;
    padding: 0.5rem 1rem;
    font-size: 14px;
    line-height: 1.6rem;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
   }
  }

  &--solution {
   margin: 0 auto 7rem;
   max-width: 1200px;
   display: flex;
   justify-content: center;
   align-items: flex-start;

   &--column {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &--img {
     width: 100%;
    }

    &--desc {
     width: auto;
     margin: 1rem 0 0;
     text-transform: uppercase;
     font-weight: 800;
     text-align: center;
    }
   }
  }

  &--title {
   width: 100%;
   max-width: 700px;
   margin: 1rem 0 0;
   font-size: 18px;
   font-weight: 800;
   letter-spacing: 1px;
   text-transform: uppercase;
   text-align: left;
   line-height: 1.6rem;
  }

  &--center {
   display: flex;
   width: 100%;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   margin: 0 0 2rem;
  }

  &--desc {
   width: 100%;
   max-width: 700px;
   margin: 0;
   padding: 0.5rem 0 1rem;
   font-size: 14px;
   line-height: 1.6rem;
   letter-spacing: 1px;
   font-family: 'Open Sans', sans-serif;

   & span {
    font-family: 'Open Sans', sans-serif;
   }

   & span:first-child {
    text-transform: uppercase;
   }

   &--list {
    list-style-position: outside;
    text-align: left;
    margin-left: 1rem;

    & li {
     display: list-item;
    }
   }
  }

  &--info {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;

   & div {
    margin: 1rem 2rem 0 0;

    & p {
     padding: 2px;
     font-size: 14px;
     font-family: 'Open Sans', sans-serif;
     line-height: 1.3rem;
     letter-spacing: 1px;
    }

    & p:first-child {
     text-transform: uppercase;
    }
   }
  }

  &--table {
   width: 100%;
   max-width: 1000px;
   margin: 1rem auto 3rem;
   border: 1px solid #000;

   & thead {
    padding: 1rem;
    border-bottom: 1px solid #000;

    & th {
     vertical-align: middle;
     width: 33%;
     padding: 1rem;
    }
   }

   & tbody {
    & tr {
     & td {
      vertical-align: middle;
     }
    }
   }

   &--row {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    vertical-align: middle;

    &--border {
     border-right: 1px solid #000;
    }

    &--black {
     max-width: 500px;
     margin: 1rem;
     padding: 1rem;
     background-color: #000;
     color: #fff;

     & h6 {
      font-size: 1.1rem;
      padding-bottom: 0.5rem;
     }

     & ol {
      & li {
       font-size: 0.75rem;
       padding: 0.2rem 0;
       line-height: 1rem;
      }
     }
    }

    &--orange {
     width: 12vw;
     max-width: 500px;
     margin: 1rem;
     padding: 1rem;
     background-color: #fed7ba;
     color: black;
     font-size: 1rem;
     line-height: 1rem;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     flex-direction: column;

     &--icon {
      width: 50%;
      margin: auto;
      padding: 0 0 0.5rem;
     }
    }

    &--equal {
     font-size: 2rem;
     font-weight: 900;
    }
   }
  }
 }

 &__button {
  background-color: #fff;
  padding: 1rem 2rem;
  border: 2px solid #000;
  margin: 1rem 0;
  text-decoration: none;

  &:hover {
   cursor: pointer;
   background-color: #000;
   color: #fff;
  }
 }

 &__landing-photo {
  width: 100%;
  padding-top: 4rem;
 }
}

@media screen and (max-width: 750px) {
 .me {
  &__landing-photo {
   width: 100%;
   padding-top: 4rem;
  }

  &__content {
   &--img {
    width: 100%;
   }
   &--full {
    flex-wrap: wrap;
   }
   &--solution {
    flex-wrap: wrap;

    &--column {
     margin: 0 1rem 1rem;
     width: 30%;
    }
   }

   &--table {
    &--row {
     // flex-direction: column;

     &--black {
      margin: 0;
     }

     &--orange {
      height: auto;
      margin: 0;
      font-size: 0.8rem;

      &--icon {
       width: 100%;
      }
     }

     &--equal {
      margin: 0 0.5rem;
     }
    }
   }
  }
 }
}
