.home {
 display: flex;
 flex-direction: row;
 background-color: black;
 color: white;
 padding: 7rem;

 &__button {
  background: transparent;
  color: white;
  border: 1px solid darkgray;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-weight: 600;

  &:hover {
   cursor: pointer;
   background: darkgray;
  }
 }

 &__desc {
  padding-right: 2rem;
  background: transparent;

  &--title {
   background: transparent;
   margin: 1rem 0;
   font-family: 'OrpheusW05-Regular';
   font-size: 3rem;
   font-weight: 500;
  }

  &--text {
   background: transparent;
   font-size: 1.7rem;
   font-weight: 200;
   padding: 1rem 0;
  }
 }

 &__image {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;

  &--img {
   width: 100%;
  }
 }

 &__location {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
  margin: 1rem 0;
  font-size: 1.3rem;

  & span {
   background: transparent;
  }

  &--icon {
   background: transparent;
   margin-right: 1rem;
  }
 }

 &__work {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;

  &--title {
   color: white;
   font-size: 2.5rem;
   width: 33%;
   text-align: center;
  }
 }

 &__about {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  padding: 5rem 10rem;

  &--info {
   padding-right: 5rem;
   background: transparent;
  }

  &--title {
   font-size: 4rem;
   background: transparent;
   margin: 0;
   padding: 0;
   letter-spacing: 1px;
  }

  &--desc {
   font-size: 0.9rem;
   line-height: 1.4rem;
   background: transparent;
   margin: 1rem 0;
  }

  &--img {
   width: 20rem;
  }
 }
}

@media screen and (max-width: 750px) {
 .home {
  display: flex;
  flex-direction: column-reverse;
  background-color: transparent;
  padding: 7rem 1rem 1rem;

  &__button {
   background: transparent;
   color: white;
   border: 1px solid darkgray;
   padding: 1rem 2rem;
   text-transform: uppercase;
   font-weight: 600;
   width: 100%;
  }

  &__location {
   justify-content: center;
  }

  &__desc {
   text-align: center;
   padding: 0;

   &--text {
    font-size: 1.2rem;
   }
  }

  &__work {
   &--title {
    width: 100%;
    font-size: 2rem;
   }
  }

  &__about {
   flex-direction: column-reverse;
   background-color: transparent;
   padding: 1rem;

   &--info {
    padding: 1rem;
   }

   &--title {
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
   }

   &--desc {
    font-size: 0.9rem;
    line-height: 1.4rem;
   }

   &--image {
    display: flex;
    justify-content: center;
    align-items: center;
   }

   &--img {
    width: 14rem;
   }
  }

  &__image {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;

   &__img {
    width: 100%;
   }
  }
 }
}
