.home {
 display: flex;
 flex-direction: row;
 background-image: url('../../assets/images/landing.png');
 color: black;
 padding: 7rem;

 &__button {
  background: transparent;
  color: black;
  border: 2px solid black;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  margin: 1rem 0;

  &:hover {
   cursor: pointer;
   background: darkgray;
  }
 }

 &__desc {
  background: transparent;

  &--title {
   background: transparent;
   margin: 1rem 0;
   font-family: 'OrpheusW05-Regular';
   font-size: 48px;
   font-weight: 500;
   color: black;
  }

  &--text {
   background: transparent;
   overflow-wrap: break-word;
   line-height: 2rem;
   font-size: 20px;
   margin: 1rem 0;
  }
 }

 &__image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  &--img {
   width: 100%;
   max-width: 500px;
  }
 }

 &__location {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: transparent;
  color: black;
  font-size: 20px;

  & span {
   background: transparent;
  }

  &--icon {
   background: transparent;
   margin-right: 1rem;
  }
 }

 &__work {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 0;

  &--title {
   color: white;
   font-size: 40px;
   width: 33%;
   text-align: center;
  }
 }

 &__about {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  padding: 5rem 10rem;

  &--button {
   background: transparent;
   color: white;
   border: 2px solid white;
   padding: 1rem 2rem;
   text-transform: uppercase;
   font-weight: 600;
   font-size: 16px;
   margin: 1rem 0;

   &:hover {
    cursor: pointer;
    background: darkgray;
   }
  }

  &--info {
   background: transparent;
  }

  &--title {
   font-size: 52px;
   background: transparent;
   margin: 0;
   padding: 0;
   letter-spacing: 1px;
  }
  &--image {
   margin: 0 5rem;
  }

  &--desc {
   font-size: 16px;
   line-height: 1.5rem;
   background: transparent;
   overflow-wrap: break-word;
   margin: 1rem 0;
  }

  &--img {
   width: 20rem;
  }
 }
}

@media screen and (max-width: 750px) {
 .home {
  flex-direction: column-reverse;
  background-color: transparent;
  padding: 7rem 1rem 1rem;

  &__button {
   width: 100%;
  }

  &__desc {
   text-align: center;
   padding: 0;
  }

  &__image {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
  }

  &__location {
   justify-content: center;
  }

  &__work {
   &--title {
    width: 100%;
    font-size: 2rem;
   }
  }

  &__about {
   flex-direction: column-reverse;
   background-color: transparent;
   padding: 1rem;

   &--info {
    padding: 1rem;
   }

   &--title {
    font-size: 40px;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
   }

   &--desc {
    font-size: 16px;
    line-height: 1.5rem;
   }

   &--image {
    display: flex;
    justify-content: center;
    align-items: center;
   }

   &--img {
    width: 14rem;
   }
  }

  &__img {
   width: 100%;
  }
 }
}
