.card {
 margin: 4rem 0;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;

 &__details {
  width: 350px;
  padding: 0 2rem;
  background-color: transparent;
  font-weight: 600;
 }

 &__reverse {
  flex-direction: row-reverse;
 }

 &__button {
  width: 100%;
  margin: 1rem 0;
  padding: 1rem 2rem;
  background: transparent;
  border: 2px solid black;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: black;

  &:hover {
   cursor: pointer;
   background: black;
   color: #ede3df;
  }
 }

 &__img {
  width: 44vw;
  height: 22rem;
 }

 &__project {
  font-size: 30px;
  font-weight: 700;
  line-height: 3rem;
  text-transform: capitalize;
  color: black;

  &--desc {
   font-size: 18px;
   font-weight: 600;
   line-height: 1.5rem;
   color: black;
  }
 }

 &__faq {
  display: flex;
  flex-direction: column;
  color: black;

  &--left,
  &--right {
   width: 100%;
   display: flex;
   flex-direction: column;
  }
  &--info {
   margin: 1rem 0 0.5rem;
   font-size: 18px;
   font-weight: 600;
   line-height: 1rem;
   text-transform: capitalize;
  }
  &--desc {
   font-size: 14px;
   font-weight: 600;
   line-height: 1.35rem;
   letter-spacing: 1px;
  }
 }
}

hr {
 margin: 0;
 display: block;
 border-width: 1px;
 border-style: inset;
}

@media screen and (max-width: 750px) {
 .card {
  width: 85%;
  flex-direction: column;

  &__image {
   display: flex;
   justify-content: center;
   align-items: center;
  }

  &__button {
   width: 100%;
  }

  &__details {
   width: auto;
   margin: 1rem;
   padding: 1rem;
  }

  &__img {
   width: 100%;
   height: 20rem;
  }
 }
}
