.top {
    position: fixed;
    bottom: 100px;
    right: 25px;
    padding: 1rem;
    color: black;
    background-color: #f4dcc5;
    border-radius: 50%;
    border: 1px solid black;

    &:hover {
        cursor: pointer;
    }
}
