.nav {
 position: fixed;
 width: 100vw;
 padding: 1rem 0;
 top: 0;
 left: 0;
 display: flex;
 background-color: #181a1b;
 flex-direction: row;
 justify-content: space-between;
 color: white;
 z-index: 100;

 &__title {
  padding-left: 4rem;

  &--text {
   font-family: 'OrpheusW05-Regular';
   font-size: 1.4rem;
  }
 }

 &__icon {
  font-size: 1rem;

  &:hover {
   color: lightblue;
  }
 }

 &__links {
  display: flex;
  align-items: center;
  list-style: none;
  padding-right: 3rem;
  justify-content: space-between;

  li {
   margin: 0 0.6rem;
   text-transform: capitalize;
   font-size: 0.85rem;
   font-family: 'Open Sans', sans-serif;
   letter-spacing: 1px;
   color: white;

   &:hover {
    cursor: pointer;
    font-weight: 700;
   }
  }

  &--link {
   padding-bottom: 0.25rem;
   text-decoration: none;
   color: white;

   &:active {
    color: white;
   }

   &:focus {
    border-bottom: 2px solid;
    border-color: white;
   }
  }
 }
}

.navbar {
 &__menu {
  display: none;
 }
}

@media screen and (max-width: 750px) {
 .nav {
  &__links {
   display: none;
  }

  &__icons {
   padding: 0;
  }
 }
 .navbar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

  &__title {
   padding-left: 1rem;

   &--text {
    font-size: 1.3rem;
   }
  }

  &__menu {
   display: flex;
  }

  &__menu-slideout {
   width: 40%;
   position: absolute;
   right: 0;
   top: 60px;
   display: flex;
   flex-direction: column;
   text-align: center;
   list-style: none;
   backdrop-filter: blur(20px);
   z-index: 10;

   &-enter-active {
    opacity: 1;
    transition: opacity 1s;
    animation: slideInRight;
    animation-duration: 1s;
   }

   &-exit-active {
    opacity: 0;
    transition: opacity 1s;
    animation: slideOutRight;
    animation-duration: 1s;
   }

   &--button {
    color: white;
    font-size: 1.4rem;
    margin: 0 1rem;
    border: none;
    background: transparent;
   }

   & li {
    width: 100%;
    padding: 1.5rem 0;
    text-transform: uppercase;
   }

   &--icons {
    display: flex;
    flex-direction: row;
   }
  }
 }
}
