.nav {
 position: fixed;
 width: 100%;
 top: 0;
 left: 0;
 display: flex;
 background-color: #181a1b;
 flex-direction: row;
 justify-content: space-between;
 color: white;

 &__title {
  padding-left: 4rem;
  &--text {
   font-family: 'OrpheusW05-Regular';
   font-size: 1.4rem;
  }
 }

 &__icon {
  font-size: 1.2rem;

  &:hover {
   color: lightblue;
  }
 }

 &__links {
  display: flex;
  align-items: center;
  list-style: none;
  padding-right: 1rem;
  justify-content: space-between;

  li {
   margin: 0 0.6rem;
   text-transform: uppercase;
   font-size: 0.85rem;
   font-family: 'Open Sans', sans-serif;
   letter-spacing: 1px;

   &:hover {
    cursor: pointer;
    font-weight: 700;
   }
  }
 }
}

.navbar {
 &__menu {
  display: none;
 }
}

@media screen and (max-width: 750px) {
 .nav {
  &__links {
   display: none;
  }
 }
 .navbar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;

  &__title {
   padding-left: 1rem;

   &--text {
    font-size: 1.3rem;
   }
  }
  &__menu {
   display: flex;
   &--button {
    margin: 0 1rem;
    border: none;
    background: transparent;
    font-size: 1.4rem;
    color: white;
   }
  }
 }
}
