.nav {
 position: fixed;
 width: 100%;
 top: 0;
 left: 0;
 display: flex;
 background-color: lightgray;
 flex-direction: row;
 justify-content: space-between;
}

.right-nav {
 display: flex;
 flex-direction: row;
 align-items: center;
 list-style: none;
 padding-right: 1rem;
}

.nav__title {
 padding-left: 3rem;
 font-family: 'OrpheusW05-Regular';
 font-size: 1.7rem;
}
