.rfc {
 &__landing-photo {
  width: 100vw;
 }

 &__desc {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  &--info {
   width: 100%;
   margin: 3rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;

   &--title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1rem;
   }

   &--text {
    text-align: center;
   }
  }
 }
 &__name {
  font-size: 48px;
  font-weight: 500;
 }
}
