.work {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;

    &__link {
        text-decoration: none;
        color: black;
        width: 33%;
        padding: 3rem;
        text-align: center;

        &:hover {
            background-color: #f4dcc5;
        }
    }

    &__project {
        &--title {
            text-align: center;
            font-size: 2rem;
            padding-bottom: 0.5rem;
        }

        &--subtitle {
            text-align: center;
            font-size: 1.3rem;
            padding-bottom: 0.5rem;
        }

        &--desc {
            & p {
                font-size: 1.2rem;
                line-height: 1.4rem;
            }
        }

        &--img {
            width: 100%;
        }
    }
}

@media screen and (max-width: 750px) {
    .work {
        flex-direction: column;
        padding: 4rem 0;

        &__link {
            width: 77%;
        }
    }
}
